<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://moa.longcheer.com:443/iosclient/pgapp.ipa</string> //打包的ipa在HTTPS服务器上的地址
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://moa.longcheer.com:443/iosclient/pgapp.png</string> //龙旗的APP icon 在HTTPS服务器上的地址
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://moa.longcheer.com:443/iosclient/pgapp.png</string> //龙旗的APP icon 在HTTPS服务器上的地址
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.dahan.MOA</string>
				<key>bundle-version</key>
				<string>1.1</string> //版本号
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>龙旗移动办公</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
